.hero {
  background: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 32px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}

.hero__info {
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
}

.hero__text {
  @include heading-h3;

  color: var(--white);
}

.hero__title {
  margin: 0;
  text-align: end;
  color: var(--white);

  @include heading-h1;
}

.hero__badge {
  align-self: flex-end;
  color: var(--white);
  flex-shrink: 0;

  @include font-text-s;
}

.hero__btn {
  color: var(--white);
  text-transform: uppercase;

  @include font(12px,12px,700,$family-text);
}
