.offers {
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: 320px;
  justify-content: center;

  @media (min-width: $tablet) {
    padding: 60px 45px;
    padding-bottom: 32px;
    grid-template-columns: 678px;
  }

  @media (min-width: $desktop) {
    padding: 100px 103px;
    grid-template-columns: 1160px;
  }
}

.offers__title {
  margin-bottom: 40px;

  @include heading-h3;

  @media (min-width: $tablet) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 70px;
  }
}

.offers__list {
  list-style-type: none;
  padding: 0;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    column-gap: 30px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    grid-template-rows: 256px 1fr;
    column-gap: 40px;
  }
}

.offers__item:nth-child(2),
.offers__item:nth-child(3) {
  width: 290px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 21px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 7px solid;
  border-image: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
  border-image-slice: 1;

  @media (min-width: $tablet) {
    width: 324px;
    align-items: flex-start;
    grid-row: 2/3;
    gap: 0;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin: 0;
    padding-top: 20px;
  }
}

.offers__item * {
  font-family: $secondary-font;
  font-weight: 600;
}

.offers__item h4 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: $tablet) {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 10px;
  }
}

.offers__item span {
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;

  @media (min-width: $tablet) {
    font-size: 70px;
    line-height: 70px;
  }
}

.offers__item p {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.8px;

  @media (min-width: $tablet) {
    line-height: 24px;
    letter-spacing: 0;
    margin-bottom: 30px;
  }
}

.offers__link {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 14px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid $background-additional;
  color: $background-additional;
}

.offers__item:nth-child(1) {
  position: relative;
  background-color: $background-banner;
  color: $base-white;
  padding-top: 30px;
  padding-bottom: 32px;
  margin-bottom: 400px;

  @media (min-width: $tablet) {
    width: 278px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 25px;
  }

  @media (min-width: $desktop) {
    width: 280px;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-bottom: 0;
    padding-left: 45px;
    padding-right: 45px;
  }
}

.offers__item:nth-child(1)::after {
  position: absolute;
  left: 0;
  top: 271px;
  content: "";
  width: 320px;
  height: 360px;
  background:
    image-set(url("../../img/girl-img-mobile.webp") 1x type("image/webp"),
    url("../../img/girl-img-mobile.jpg") 1x,
    url("../../img/girl-img-mobile@2x.webp") 2x type("image/webp"),
    url("../../img/girl-img-mobile@2x.jpg") 2x);
  background-repeat: no-repeat;
  background-size: 320px 360px;

  @media (min-width: $tablet) {
    left: 278px;
    top: 0;
    width: 400px;
    height: 462px;
    background:
      image-set(url("../../img/girl-img-tablet.webp") 1x type("image/webp"),
      url("../../img/girl-img-tablet.jpg") 1x,
      url("../../img/girl-img-tablet@2x.webp") 2x type("image/webp"),
      url("../../img/girl-img-tablet@2x.jpg") 2x);
  }

  @media (min-width: $desktop) {
    left: 280px;
    width: 280px;
    height: 460px;
    background:
      image-set(url("../../img/girl-img-desktop.webp") 1x type("image/webp"),
      url("../../img/girl-img-desktop.jpg") 1x,
      url("../../img/girl-img-desktop@2x.webp") 2x type("image/webp"),
      url("../../img/girl-img-desktop@2x.jpg") 2x);
  }
}

.offers__item:nth-child(1) h4 {
  margin-bottom: 9px;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop) {
    font-size: 26px;
    line-height: 26px;
  }
}

.offers__item:nth-child(1) p {
  padding: 0 30px;
  margin-top: 28px;
  margin-bottom: 26px;
  letter-spacing: 0;

  @media (min-width: $tablet) {
    padding: 0;
    padding-bottom: 125px;
    margin-top: 40px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    padding-bottom: 121px;
  }
}

.offers__item:nth-child(1) .offers__link {
  color: $base-white;
  border-bottom: 1px solid $base-white;
  padding-bottom: 3px;
  margin-bottom: 2px;

  @media (min-width: $tablet) {
    padding-bottom: 4px;
    margin-bottom: 0;
  }
}

.offers__item:nth-child(2) {
  @media (min-width: $tablet) {
    grid-column: 1/2;
  }

  @media (min-width: $desktop) {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 82px;
  }
}

.offers__item:nth-child(3) {
  @media (min-width: $tablet) {
    grid-column: 2/3;
  }

  @media (min-width: $desktop) {
    margin-top: 30px;
  }
}

.offers__item:nth-child(3) p {
  margin-bottom: 10px;
}

.offers__link:hover {
  opacity: 0.8;
}

.offers__link:focus {
  border: none;
  padding: 10px;
  outline: 1px solid $background-additional;
  margin: 0 -11px -5px;
}

.offers__link:active {
  opacity: 1;
}

.offers__link:disabled {
  opacity: 0.3;
}

.offers__link--baner:focus {
  border: none;
  padding: 10px;
  outline: 1px solid $base-white;
  margin: 0 -11px -5px;
}

.offers__link--baner:active {
  opacity: 1;
}

.offers__link--baner:disabled {
  opacity: 0.5;
}
