*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

:root {
  --white: #ffffff;
  --main: #102654;
}
