$weight-light: 300;
$weight-ebold: 800;
$weight-sbold: 600;
$tablet: 768px;
$desktop: 1366px;
$background-secondary: #f8f9fc;
$background-banner: #ed0233;
$background-footer: #030a1a;
$background-additional: #1c3374;
$base-primary: #102654;
$base-secondary: #103aae;
$base-white: #ffffff;
$condition-color-tabs: #d10a42;
$error-form: #ff121f;
$primary-font: "Alumni Sans", "Arial", sans-serif;
$secondary-font: "Roboto Condensed", "Arial", sans-serif;
