// Common
// ---------------------------------

@import "common/mixins";
@import "common/variables";
@import "common/fonts";
@import "common/global";
@import "common/visually-hidden";

// Vendor
// ---------------------------------

@import "vendor/normalize";

// Blocks
// ---------------------------------

@import "blocks/page-container";
@import "blocks/hero";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/button";
@import "blocks/about";
@import "blocks/price";
@import "blocks/subitem";
@import "blocks/games";
@import "blocks/juri";
@import "blocks/features";
@import "blocks/offers";
@import "blocks/faq";
@import "blocks/reviews";
